body { 
  background: url("https://media.npr.org/assets/news/2010/07/23/ronan_custom-fc9afd0b711c4f73b6379b9847248bff2fbdb837.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}


.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: rgb(255, 255, 255);
  /* background-image: linear-gradient(to right, #190a05, #870000); */
}
.links {
  font-family: 'Archivo Black', sans-serif;
  list-style-type: none;
  color:rgb(255, 255, 255);
}
.links li {
  display: inline-block;
  padding: 10px;
}
a {
  color: white
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  align-content: center;
}

.form {
  max-width: 50%;
  margin: 0 auto;
  font-family: 'Archivo Black', sans-serif;
  color:rgb(255, 255, 255);
  
}