body { 
  background: url("https://media.npr.org/assets/news/2010/07/23/ronan_custom-fc9afd0b711c4f73b6379b9847248bff2fbdb837.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  
}

.App {
  color: white;
  font-family: 'Archivo Black', sans-serif;

}

/* -------------ROOT ---------------------- */

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: rgba(169, 171, 174, 0.158);

}
.links {
  list-style-type: none;
}
.links li {
  display: inline-block;
  padding: 10px;
}

.featured {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

}
.cards {
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
}

.one-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}

.cards-img {
  max-width: 300px;
}

.custom-link {
  color: white;
}

/* -------------END ROOT ------------------- */


/* ------------NEW ART PAGE ----------- */

.form {
  max-width: 380px;
  margin: 0 auto;
}

.frame {
  background-image: url('../public/pngwing.com.png');
  background-size: 45rem;
  background-repeat: no-repeat;
  background-position: center top;
  height: 50rem;
  margin-top: -30px;

}

.filler{
  height: 10rem;;
}

/* ----------END NEW ART ---------- */

/*-------------COLLECTIONS------------- */

.collections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.collection-card {
  margin: 0 3rem 3rem 3rem;
  text-decoration: underline;
}





/*-------------END COLLECTIONS------------- */

/* --------------SHOW COLLECTIONS----------- */
.show-collections {
  text-align: center;
  background-color: rgba(169, 171, 174, 0.5);
  width: 80%;
  margin: 2rem auto;
  height: 80%;
}

.collection-title {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 4.5rem;
  padding-top: 2rem;
}
.carousel {
  width: 70%;
  margin: 1rem auto;
}



